body{
    margin:0;
    background-color:#f0f2f5;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.hey {
    --card-elevation: rgb(95, 206, 174) 0px 6px 12px;
}
.red {
    color: red;
}
.bypassdomain {
    --textarea-min-height: 100px;
}
wl-card{
    padding: 30px;
    --card-elevation: 0;
}
a,a:link,a:visited,a:hover,a:active{
    color:inherit;
}
wl-button {
    --button-color: white;
    --button-bg: black;
}
wl-progress-spinner{
    --progress-spinner-buffer-color: black;
    --progress-spinner-color: white;
    --progress-spinner-size: 1rem;
}
wl-switch{
    --switch-color-checked:black;
}

.column {
    width: 30%;
    display:flex;
    flex-direction:column;
}
.row {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.center {
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.container20{
    height:20px;
}
.container30{
    height:30px;
}
.footer{
display:flex;flex-direction:row;background-color:white;justify-content:space-between;margin-top:auto;padding:20px;
}
.footer1{
display:flex;width:100%;flex-direction:row;justify-content:space-between;align-items:flex-start;flex-wrap: wrap;
}
.footer wl-button{
color:black;text-transform:none;
}
.footer wl-text{
color:#919191;margin-top:10px;
}

